h1= title
p 入力するキーワード : 
  span#keyword
p 人数 : 
  span#members
p 成績 : 
  span#score
自分!
input#textbox(type="text" autocomplete="off")
br
相手!
input#enemysinput(type="text" readonly="readonly")

div#boxes
    div#mybox
      p.Point My Point: 
        span#myCount 0
      ul#myWords
    div#enemybox
      p.Point Enemy's point: 
        span#enemyCount 0
      ul#enemyWords
