body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li.lose {
  text-decoration:line-through; 
}

div#messagebox {
  overflow: scroll;
  width: auto;
  height: 200px;
}

div#boxes {
    margin-top: 1em;
}

div#mybox, div#enemybox {
  overflow: scroll;
  width: 45%;
  height: 200px;
  border: solid 1px #000;
  padding: 10px;
}

div#enemybox {
    float: right;    
}

div#mybox {
    float: left;    
}
