body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li.lose {
  text-decoration:line-through; 
}

div#messagebox {
  overflow: scroll;
  width: auto;
  height: 200px;
}
